header{
    color: aqua;
    background-color: rgb(147, 219, 147);
    padding: 20px;
    text-align: center;
}

h1{
    color: white;
    font-family: sans-serif;
    font-size: 2.5rem;
}
h1:hover{
    text-decoration: underline;
}

nav ol {
    list-style: none;
    display:flex;
    justify-content: center;
    gap: 20px;  /* add spacing between items */
}

nav ol li {
    margin: 0;
}

nav ol li a:hover {
    color: #4b0082; /* Adjust to a color that fits your theme */
    text-decoration: underline; /* or other effect */
}


nav ol li a{
    text-decoration: none;
    color: whie;
    font-weight: bold;

}

@media(max-width:768){
    nav ol,header{
        flex-direction: column;
        gap: 10px;
    }
    h1{
        font-size: 2em;
    }
}

.B{
    background-color: rgb(103, 155, 138);
    padding: 20px;
}

h2{
    text-align: center;
    color: white;
    font-size: 2.5rem;
}
p{
    font-weight: bold;
}

h2:hover{
    text-decoration: underline;
}

.C{
    background-color:rgb(107, 125, 76);
    padding: 20px;
}

.D{
    background-color: darkseagreen;
    padding: 20px;
}

.contact{
    background-color:peru;
    padding: 20px;
}
.contact h2{
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
}
.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}
.contact input {
    margin-bottom: 15px;
    padding: 8px;
    width: 80%;
    max-width: 300px; /*Ensures fields aren't too wide*/
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.contact button{
    padding: 10px 20px;
    background-color: #6a9e6a;
    color: white;border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


  