*{
    margin: 0;
    padding: 0;
}

#name{
    padding: 15px;
    display: flex;
    background-color: #FBF5E5;
    color: #c1a246; 
    transition: font-size 0.3s ease;
}

nav ul{
    display: flex;
    gap:50px;
    list-style: none;
}
li:hover{
    color: black;
}
#top{
    color: white;
    background: #C890A7;
    padding: 15px;
}
#text{

    position: absolute;
    top: 50%;
    right:65%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: white;
}
#about{
    padding: 20px;
}
#ab{
    position: relative;
    left: 20%;
}
#img{
    display: block;
    margin: 0 auto;
}
#about{
   background: #A35C7A;
   overflow: hidden;
   padding: 20px;
}


