*{
    margin: 0;
    padding: 0;
}

#header h1{
text-align: center;
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
}
.all{
    background-color: rgb(123, 147, 75);
    height: 300px;
    width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
   position: relative;
   left: 500px;
   text-align: center;
   border: solid black 4px;
   border-radius: 10px;
   
}

#note{
    color: black;
    background-color: white;
    position: relative;
    bottom: 100px;
}

#note:hover{
    background-color: pink;
}

#button{
    color: black;
    background-color: white;
    position: relative;
    left: 90px;
    bottom: 125px;
}
#button:hover{
    background-color: pink;
}