
h1{
 color: red;
 
 
}

.profile{
    display: flex;
    text-align: center;
}

.info{
     flex: 1;
}

.hey{
    width: 30px;
    height: 30px;
    margin-bottom: 120px;
}

#hi{
    display: flex;
    justify-content: center;
}