body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hello{
   color: red;
   background-color: aliceblue;
   width: 300px;
   height: 300px;
   padding: 50px;
   
}

h1{
    color: red;
    text-align: center;
}

button[type="button"]{
    color: white;
    background-color: rgb(47, 47, 143)
}

input[type="text"], input[type="number"],input[type="password"],select{
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 4px;
}

button[type="button"]:hover{
    background-color: brown;
}
